html {
    height: 100%; /* <------------ */
}
body {
    background-color: #FFFFFF;
    font-family: 'Courier New';
    text-align: center;
    height: 100%;
}

.text{
    font-family: 'Courier New';
    color: #151515;
    text-align: left;
    margin-left: 3px;
    margin-right: 3px;
}
.anrede {
    font-size: 28px;
    margin-top: 8%;
    margin-bottom: 5%;
}
.woerter {
    font-size: 20px;
    margin-top: 5%;
}
.playlistname {
    font-family: 'Courier New';
    font-size:25px;
    margin-top:5%;
    color: #151515;
    padding-bottom: 20%;
}

.img-size img {
    width: 40%;
    height: 40%;
    border-radius:10%;
    -webkit-border-radius: 10%;
}

.bild {
    text-align: center;
    border:none;
    padding:0;
    background:transparent;
    border-radius:20px;
    -webkit-border-radius: 20px;
}
.link {
    margin-top: 20%;
    margin-bottom: 20%;
}
